<html>
    <head>
        <title>
            Online Shopping
        </title>
    </head>
    <body>
        <div>
            <img src="https://res.cloudinary.com/dzndk3gyv/image/upload/v1691337461/Ajio-Logo_bv6ssd.svg" align="left" height="50" weight="50"></img>
            <br>
            <img src="https://res.cloudinary.com/dzndk3gyv/image/upload/v1691338800/download_sewdxo.png" align="right" height="100" weight="200"></img>
            <p align="right"><b>MEN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WOMEN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KIDS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HOME AND KITCHEN</b>
            <br><i>Festive sale 20% off</i></p>
        </div>
        <hr>
        <table border="0">
            <tr>
                <td>
                    <img src="https://res.cloudinary.com/dzndk3gyv/image/upload/v1691341070/img1_iqfksk.avif" height="200" width="200"></img>
                    <h3>Produkt By Jack & Jones<br>
                        Genuine Leather Denim Jacket with Flap Pockets<br>
                        ₹1,619<br>
                        Additional GST may apply</h3>
                    <a href="https://www.ajio.com/produkt-by-jack--jones-genuine-leather-denim-jacket-with-flap-pockets/p/469265979_darkblue">click here for more info</a>
                    <br>
                    <button align="right" type="button" onclick="alert('Item Added to Cart')";">Add To Cart</button>
                </td>
                <td>
                    <img src="https://res.cloudinary.com/dzndk3gyv/image/upload/v1691343487/img4_jxwvwq.avif" height="200" width="200"></img>
                    <h3>GULMOHAR JAIPUR<br>
                        Floral Print Flared Kurta<br>
                        ₹812<br>
                        Price inclusive of all taxes</h3>
                    <a href="https://www.ajio.com/gulmohar-jaipur-floral-print-flared-kurta/p/464779428_white">click here for more info</a>
                    <br>
                    <button align="right" type="button" onclick="alert('Item Added to Cart')";">Add To Cart</button> 
                </td>
                <td>
                    <img src="https://res.cloudinary.com/dzndk3gyv/image/upload/v1691344070/img6_vnxcno.avif" height="200" width="200"></img>
                    <h3>TIOR<br>
                        Striped Fit & Flare Dress with Bow Accent<br>
                        ₹660<br>
                        Price inclusive of all taxes</h3>
                    <a href="https://www.ajio.com/tior-striped-fit--flare-dress-with-bow-accent/p/466155833_orange">click here for more info</a>
                    <br>
                    <button align="right" type="button" onclick="alert('Item Added to Cart')";">Add To Cart</button> 
                </td>
                <td>
                    <img src="https://res.cloudinary.com/dzndk3gyv/image/upload/v1691344508/img7_cfkbqj.avif" height="200" width="200"></img>
                    <h3>WENS<br>
                        Set of 3 Floral Print Wall Art<br>
                        ₹702<br>
                        Price inclusive of all taxes</h3>
                    <a href="https://www.ajio.com/wens-set-of-3-floral-print-wall-art/p/465345601_multi">click here for more info</a>
                    <br>
                    <button align="right" type="button" onclick="alert('Item Added to Cart')";">Add To Cart</button> 
                </td>
            </tr>
            <tr>
                <td>
                    <img  src="https://res.cloudinary.com/dzndk3gyv/image/upload/v1691341629/img2_khpeny.webp" height="200" width="200"></img>
                    <h3 >DNMX<br>
                        Heavily Washed Skinny Fit Jeans<br>
                        ₹450<br>
                        Price inclusive of all taxes</h3>
                    <a href="https://www.ajio.com/dnmx-heavily-washed-skinny-fit-jeans/p/441145325_ltblue">click here for more info</a>
                    <br>
                    <button align="right" type="button" onclick="alert('Item Added to Cart')";">Add To Cart</button>
                </td>
                <td>
                    <img  src="https://res.cloudinary.com/dzndk3gyv/image/upload/v1691343852/img3_yaopfl.webp" height="200" width="200"></img>
                    <h3 >SHINING DIVA<br>
                        9814B Gold-Plated Crystal-Studded Bangle<br>
                        ₹360<br>
                        Price inclusive of all taxes</h3>
                    <a href="https://www.ajio.com/shining-diva-9814b-gold-plated-crystal-studded-bangle/p/6005609460_multi">click here for more info</a>
                    <br>
                    <button align="right" type="button" onclick="alert('Item Added to Cart')";">Add To Cart</button>
                </td>
                <td>
                    <img  src="https://res.cloudinary.com/dzndk3gyv/image/upload/v1691344350/img5_xqlwhm.avif" height="200" width="200"></img>
                    <h3 >MAX<br>
                        Slip-On Ballerinas with Elastic Support<br>
                        MRP₹699<br>
                        Price inclusive of all taxes</h3>
                    <a href="https://www.ajio.com/max-slip-on-ballerinas-with-elastic-support/p/466263513_pink">click here for more info</a>
                    <br>
                    <button align="right" type="button" onclick="alert('Item Added to Cart')";">Add To Cart</button>
                </td>
                <td>
                    <img  src="https://res.cloudinary.com/dzndk3gyv/image/upload/v1691344655/img8_zfveno.avif" height="200" width="200"></img>
                    <h3 >HOME CENTRE<br>
                        Set of 3 Artificial Gardenia Flowers with Pots<br>
                        MRP₹1,199<br>
                        Price inclusive of all taxes</h3>
                    <a href="https://www.ajio.com/home-centre-set-of-3-artificial-gardenia-flowers-with-pots/p/466326463_purple">click here for more info</a>
                    <br>
                    <button align="right" type="button" onclick="alert('Item Added to Cart')";">Add To Cart</button>
                </td>
            </tr>
        </table>
    </body>
</html>